In [1]:
import pandas as pd
import numpy as np

In [2]:
flights = pd.read_csv('data/flights.csv')

In [3]:
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [4]:
(
    flights
    .groupby('AIRLINE')
    .agg({'ARR_DELAY': 'mean'})
 )

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580
F9       13.630651
HA        4.972973
MQ        6.860591
NK       18.436070
OO        7.593463
UA        7.765755
US        1.681105
VX        5.348884
WN        6.397353

In [5]:
(
    flights
    .groupby('AIRLINE')['ARR_DELAY']
    .agg('mean')
)

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [6]:
(
    flights
    .groupby('AIRLINE')['ARR_DELAY']
    .agg(np.mean)
)

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [7]:
(
    flights
    .groupby('AIRLINE')['ARR_DELAY']
    .mean()
)

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [8]:
grouped = flights.groupby('AIRLINE')

In [9]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

복수 개의 열과 함수를 사용한 그룹화와 집계

In [12]:
(
    flights
    .groupby(['AIRLINE', 'WEEKDAY'])
    ['CANCELLED']
    .agg('sum')
)

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
                    ..
WN       3          18
         4          10
         5           7
         6          10
         7           7
Name: CANCELLED, Length: 98, dtype: int64

In [14]:
(
    flights
    .groupby(['AIRLINE', 'WEEKDAY'])
    [['CANCELLED', 'DIVERTED']]
    .agg(['sum', 'mean'])
)

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
...                   ...       ...      ...       ...
WN      3              18  0.014118        2  0.001569
        4              10  0.007911        4  0.003165
        5               7  0.005828        0  0.000000
        6              10  0.010132        3  0.003040
        7               7  0.006066        3  0.002600

[98 rows x 4 columns]

In [15]:
(
    flights
    .groupby(['ORG_AIR', 'DEST_AIR'])
    .agg({
        'CANCELLED': ['sum', 'mean', 'size'],
        'AIR_TIME': ['mean', 'var']
    })
)

                 CANCELLED                   AIR_TIME
                       sum      mean size        mean         var
ORG_AIR DEST_AIR
ATL     ABE              0  0.000000   31   96.387097   45.778495
        ABQ              0  0.000000   16  170.500000   87.866667
        ABY              0  0.000000   19   28.578947    6.590643
        ACY              0  0.000000    6   91.333333   11.466667
        AEX              0  0.000000   40   78.725000   47.332692
...                    ...       ...  ...         ...         ...
SFO     SNA              4  0.032787  122   64.059322   11.338331
        STL              0  0.000000   20  198.900000  101.042105
        SUN              0  0.000000   10   78.000000   25.777778
        TUS              0  0.000000   20  100.200000   35.221053
        XNA              0  0.000000    2  173.500000    0.500000

[1130 rows x 5 columns]

In [20]:
(
    flights
    .groupby(['ORG_AIR', 'DEST_AIR'])
    .agg(
        sum_cancelled=pd.NamedAgg(column='CANCELLED', aggfunc='sum'),
        mean_cancelled=pd.NamedAgg(column='CANCELLED', aggfunc='mean'),
        size_cancelled=pd.NamedAgg(column='CANCELLED', aggfunc='size'),
        mean_air_time=pd.NamedAgg(column='AIR_TIME', aggfunc='mean'),
        var_air_time=pd.NamedAgg(column='AIR_TIME', aggfunc='var')
    )
)

                  sum_cancelled  mean_cancelled  size_cancelled  \
ORG_AIR DEST_AIR
ATL     ABE                   0        0.000000              31
        ABQ                   0        0.000000              16
        ABY                   0        0.000000              19
        ACY                   0        0.000000               6
        AEX                   0        0.000000              40
...                         ...             ...             ...
SFO     SNA                   4        0.032787             122
        STL                   0        0.000000              20
        SUN                   0        0.000000              10
        TUS                   0        0.000000              20
        XNA                   0        0.000000               2

                  mean_air_time  var_air_time
ORG_AIR DEST_AIR
ATL     ABE           96.387097     45.778495
        ABQ          170.500000     87.866667
        ABY           28.578947      6.590643
        ACY           91.333333     11.466667
        AEX           78.725000     47.332692
...                         ...           ...
SFO     SNA           64.059322     11.338331
        STL          198.900000    101.042105
        SUN           78.000000     25.777778
        TUS          100.200000     35.221053
        XNA          173.500000      0.500000

[1130 rows x 5 columns]

In [21]:
res = (
    flights
    .groupby(['ORG_AIR', 'DEST_AIR'])
    .agg({
        'CANCELLED': ['sum', 'mean', 'size'],
        'AIR_TIME': ['mean', 'var']
    })
)
res

                 CANCELLED                   AIR_TIME
                       sum      mean size        mean         var
ORG_AIR DEST_AIR
ATL     ABE              0  0.000000   31   96.387097   45.778495
        ABQ              0  0.000000   16  170.500000   87.866667
        ABY              0  0.000000   19   28.578947    6.590643
        ACY              0  0.000000    6   91.333333   11.466667
        AEX              0  0.000000   40   78.725000   47.332692
...                    ...       ...  ...         ...         ...
SFO     SNA              4  0.032787  122   64.059322   11.338331
        STL              0  0.000000   20  198.900000  101.042105
        SUN              0  0.000000   10   78.000000   25.777778
        TUS              0  0.000000   20  100.200000   35.221053
        XNA              0  0.000000    2  173.500000    0.500000

[1130 rows x 5 columns]

In [22]:
res.columns = ['_'.join(x) for x in res.columns.to_flat_index()]

In [23]:
res

                  CANCELLED_sum  CANCELLED_mean  CANCELLED_size  \
ORG_AIR DEST_AIR
ATL     ABE                   0        0.000000              31
        ABQ                   0        0.000000              16
        ABY                   0        0.000000              19
        ACY                   0        0.000000               6
        AEX                   0        0.000000              40
...                         ...             ...             ...
SFO     SNA                   4        0.032787             122
        STL                   0        0.000000              20
        SUN                   0        0.000000              10
        TUS                   0        0.000000              20
        XNA                   0        0.000000               2

                  AIR_TIME_mean  AIR_TIME_var
ORG_AIR DEST_AIR
ATL     ABE           96.387097     45.778495
        ABQ          170.500000     87.866667
        ABY           28.578947      6.590643
        ACY           91.333333     11.466667
        AEX           78.725000     47.332692
...                         ...           ...
SFO     SNA           64.059322     11.338331
        STL          198.900000    101.042105
        SUN           78.000000     25.777778
        TUS          100.200000     35.221053
        XNA          173.500000      0.500000

[1130 rows x 5 columns]

In [24]:
def flatten_cols(df: pd.DataFrame):
    df.columns = ['_'.join(x) for x in df.columns.to_flat_index()]
    return df

In [25]:
res = (
    flights
    .groupby(['ORG_AIR', 'DEST_AIR'])
    .agg({
        'CANCELLED': ['sum', 'mean', 'size'],
        'AIR_TIME': ['mean', 'var']
    })
    .pipe(flatten_cols)
)
res

                  CANCELLED_sum  CANCELLED_mean  CANCELLED_size  \
ORG_AIR DEST_AIR
ATL     ABE                   0        0.000000              31
        ABQ                   0        0.000000              16
        ABY                   0        0.000000              19
        ACY                   0        0.000000               6
        AEX                   0        0.000000              40
...                         ...             ...             ...
SFO     SNA                   4        0.032787             122
        STL                   0        0.000000              20
        SUN                   0        0.000000              10
        TUS                   0        0.000000              20
        XNA                   0        0.000000               2

                  AIR_TIME_mean  AIR_TIME_var
ORG_AIR DEST_AIR
ATL     ABE           96.387097     45.778495
        ABQ          170.500000     87.866667
        ABY           28.578947      6.590643
        ACY           91.333333     11.466667
        AEX           78.725000     47.332692
...                         ...           ...
SFO     SNA           64.059322     11.338331
        STL          198.900000    101.042105
        SUN           78.000000     25.777778
        TUS          100.200000     35.221053
        XNA          173.500000      0.500000

[1130 rows x 5 columns]

In [26]:
(
    flights
    .assign(ORG_AIR=flights.ORG_AIR.astype('category'))
    .groupby(['ORG_AIR', 'DEST_AIR'])
    .agg({
        'CANCELLED': ['sum', 'mean', 'size'],
        'AIR_TIME': ['mean', 'var']
    })
)

                 CANCELLED              AIR_TIME
                       sum mean size        mean        var
ORG_AIR DEST_AIR
ATL     ABE              0  0.0   31   96.387097  45.778495
        ABI              0  NaN    0         NaN        NaN
        ABQ              0  0.0   16  170.500000  87.866667
        ABR              0  NaN    0         NaN        NaN
        ABY              0  0.0   19   28.578947   6.590643
...                    ...  ...  ...         ...        ...
SFO     TYS              0  NaN    0         NaN        NaN
        VLD              0  NaN    0         NaN        NaN
        VPS              0  NaN    0         NaN        NaN
        XNA              0  0.0    2  173.500000   0.500000
        YUM              0  NaN    0         NaN        NaN

[2710 rows x 5 columns]

In [27]:
(
    flights
    .assign(ORG_AIR=flights.ORG_AIR.astype('category'))
    .groupby(['ORG_AIR', 'DEST_AIR'], observed=True)
    .agg({
        'CANCELLED': ['sum', 'mean', 'size'],
        'AIR_TIME': ['mean', 'var']
    })
)

                 CANCELLED                   AIR_TIME
                       sum      mean size        mean         var
ORG_AIR DEST_AIR
LAX     ABQ              1  0.018182   55   89.259259   29.403215
        ANC              0  0.000000    7  307.428571   78.952381
        ASE              1  0.038462   26  102.920000  102.243333
        ATL              0  0.000000  174  224.201149  127.155837
        AUS              0  0.000000   80  150.537500   57.897310
...                    ...       ...  ...         ...         ...
MSP     TTN              1  0.125000    8  124.428571   57.952381
        TUL              0  0.000000   18   91.611111   63.075163
        TUS              0  0.000000    2  176.000000   32.000000
        TVC              0  0.000000    5   56.600000   10.300000
        XNA              0  0.000000   14   90.642857  115.939560

[1130 rows x 5 columns]

그룹화 후 다중 인덱스 제거

In [28]:
flights = pd.read_csv('data/flights.csv')

In [29]:
airline_info = (
    flights
    .groupby(['AIRLINE', 'WEEKDAY'])
    .agg({
        'DIST': ['sum', 'mean'],
        'ARR_DELAY': ['min', 'max']
    })
    .astype(int)
)
airline_info

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
...                  ...   ...       ...  ...
WN      3         997213   782       -38  262
        4        1024854   810       -52  284
        5         981036   816       -44  244
        6         823946   834       -41  290
        7         945679   819       -45  261

[98 rows x 4 columns]

In [30]:
airline_info.columns.get_level_values(0)

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [31]:
airline_info.columns.get_level_values(1)

Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [32]:
airline_info.columns.to_flat_index()

Index([('DIST', 'sum'), ('DIST', 'mean'), ('ARR_DELAY', 'min'),
       ('ARR_DELAY', 'max')],
      dtype='object')

In [33]:
airline_info.columns = ['_'.join(x) for x in airline_info.columns.to_flat_index()]

In [34]:
airline_info

                 DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
AIRLINE WEEKDAY
AA      1         1455386       1139            -60            551
        2         1358256       1107            -52            725
        3         1496665       1117            -45            473
        4         1452394       1089            -46            349
        5         1427749       1122            -41            732
...                   ...        ...            ...            ...
WN      3          997213        782            -38            262
        4         1024854        810            -52            284
        5          981036        816            -44            244
        6          823946        834            -41            290
        7          945679        819            -45            261

[98 rows x 4 columns]

In [35]:
airline_info.reset_index()

   AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
0       AA        1   1455386       1139            -60            551
1       AA        2   1358256       1107            -52            725
2       AA        3   1496665       1117            -45            473
3       AA        4   1452394       1089            -46            349
4       AA        5   1427749       1122            -41            732
..     ...      ...       ...        ...            ...            ...
93      WN        3    997213        782            -38            262
94      WN        4   1024854        810            -52            284
95      WN        5    981036        816            -44            244
96      WN        6    823946        834            -41            290
97      WN        7    945679        819            -45            261

[98 rows x 6 columns]

In [37]:
(
    flights
    .groupby(['AIRLINE', 'WEEKDAY'])
    .agg(
        dist_sum=pd.NamedAgg(column='DIST', aggfunc='sum'),
        dist_mean=pd.NamedAgg(column='DIST', aggfunc='mean'),
        arr_delay_min=pd.NamedAgg(column='ARR_DELAY', aggfunc='min'),
        arr_delay_max=pd.NamedAgg(column='ARR_DELAY', aggfunc='max')
    )
    .astype(int)
    .reset_index()
)

   AIRLINE  WEEKDAY  dist_sum  dist_mean  arr_delay_min  arr_delay_max
0       AA        1   1455386       1139            -60            551
1       AA        2   1358256       1107            -52            725
2       AA        3   1496665       1117            -45            473
3       AA        4   1452394       1089            -46            349
4       AA        5   1427749       1122            -41            732
..     ...      ...       ...        ...            ...            ...
93      WN        3    997213        782            -38            262
94      WN        4   1024854        810            -52            284
95      WN        5    981036        816            -44            244
96      WN        6    823946        834            -41            290
97      WN        7    945679        819            -45            261

[98 rows x 6 columns]

In [40]:
(
    flights
    .groupby(['AIRLINE', 'WEEKDAY'], as_index=False)
    ['DIST']
    .agg('mean')
    .round(0)
)

   AIRLINE  WEEKDAY    DIST
0       AA        1  1140.0
1       AA        2  1108.0
2       AA        3  1118.0
3       AA        4  1090.0
4       AA        5  1122.0
..     ...      ...     ...
93      WN        3   782.0
94      WN        4   811.0
95      WN        5   817.0
96      WN        6   835.0
97      WN        7   819.0

[98 rows x 3 columns]

사용자 정의 집계 함수를 사용한 그룹화

In [41]:
college = pd.read_csv('data/college.csv')

In [46]:
(
    college
    .groupby('STABBR')
    ['UGDS']
    .agg(['mean', 'std'])
    .round(0)
)

          mean      std
STABBR
AK      2493.0   4052.0
AL      2790.0   4658.0
AR      1644.0   3143.0
AS      1276.0      NaN
AZ      4130.0  14894.0
CA      3518.0   6709.0
CO      2325.0   4670.0
CT      1874.0   2871.0
DC      2645.0   3225.0
DE      2491.0   4503.0
FL      2493.0   7033.0
FM      2344.0      NaN
GA      2643.0   4422.0
GU      1894.0   1774.0
HI      2361.0   2999.0
IA      2294.0   5815.0
ID      2096.0   4865.0
IL      2189.0   4080.0
IN      2654.0   8278.0
KS      1861.0   3673.0
KY      1991.0   3783.0
LA      1660.0   3485.0
MA      2023.0   3267.0
MD      3003.0   5837.0
ME      1437.0   1808.0
MH      1078.0      NaN
MI      2643.0   5356.0
MN      2086.0   3580.0
MO      1557.0   3569.0
MP      1120.0      NaN
MS      2499.0   3848.0
MT      1471.0   3007.0
NC      2447.0   4212.0
ND      1460.0   2919.0
NE      1932.0   3579.0
NH      2060.0   4877.0
NJ      2353.0   4480.0
NM      2254.0   4566.0
NV      2274.0   6144.0
NY      2349.0   4421.0
OH      1577.0   4101.0
OK      1351.0   3280.0
OR      2183.0   4952.0
PA      1699.0   3793.0
PR      1599.0   2913.0
PW       602.0      NaN
RI      3306.0   4609.0
SC      2074.0   3778.0
SD      1358.0   2069.0
TN      1570.0   3279.0
TX      2999.0   7363.0
UT      3035.0   8056.0
VA      2695.0   6707.0
VI      1971.0      NaN
VT      1513.0   2194.0
WA      2271.0   4124.0
WI      2655.0   4615.0
WV      1758.0   5957.0
WY      2244.0   2745.0

In [47]:
def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [48]:
(
    college
    .groupby('STABBR')
    ['UGDS']
    .agg(max_deviation)
    .round(1)
)

STABBR
AK     2.6
AL     5.8
AR     6.3
AS     NaN
AZ     9.9
CA     6.1
CO     5.0
CT     5.6
DC     2.4
DE     3.5
FL     8.4
FM     NaN
GA     5.4
GU     1.0
HI     3.8
IA     6.5
ID     4.5
IL     7.3
IN     9.1
KS     4.9
KY     5.2
LA     6.5
MA     6.1
MD     5.3
ME     4.0
MH     NaN
MI     6.7
MN     7.8
MO     7.2
MP     NaN
MS     4.0
MT     3.9
NC     4.9
ND     3.5
NE     5.0
NH     5.3
NJ     7.1
NM     4.5
NV     4.7
NY     8.2
OH    10.3
OK     5.9
OR     5.3
PA    10.1
PR     6.0
PW     NaN
RI     2.9
SC     6.0
SD     4.2
TN     6.0
TX     7.7
UT     5.1
VA     7.0
VI     NaN
VT     3.8
WA     6.6
WI     5.8
WV     7.2
WY     2.8
Name: UGDS, dtype: float64

In [49]:
(
    college
    .groupby('STABBR')
    [['UGDS', 'SATVRMID', 'SATMTMID']]
    .agg(max_deviation)
    .round(1)
)

        UGDS  SATVRMID  SATMTMID
STABBR
AK       2.6       NaN       NaN
AL       5.8       1.6       1.8
AR       6.3       2.2       2.3
AS       NaN       NaN       NaN
AZ       9.9       1.9       1.4
CA       6.1       2.7       2.5
CO       5.0       2.1       2.3
CT       5.6       3.0       2.7
DC       2.4       1.7       1.6
DE       3.5       1.2       1.1
FL       8.4       2.2       2.4
FM       NaN       NaN       NaN
GA       5.4       2.5       3.0
GU       1.0       NaN       NaN
HI       3.8       0.9       1.0
IA       6.5       2.8       2.8
ID       4.5       2.2       1.7
IL       7.3       3.3       2.5
IN       9.1       3.7       3.3
KS       4.9       2.5       1.6
KY       5.2       2.1       2.1
LA       6.5       2.4       2.2
MA       6.1       2.0       2.0
MD       5.3       2.0       2.2
ME       4.0       2.4       2.4
MH       NaN       NaN       NaN
MI       6.7       2.5       2.5
MN       7.8       2.2       2.2
MO       7.2       3.3       3.3
MP       NaN       NaN       NaN
MS       4.0       1.6       1.7
MT       3.9       1.6       1.2
NC       4.9       2.7       3.1
ND       3.5       1.2       1.5
NE       5.0       1.5       1.6
NH       5.3       2.0       1.9
NJ       7.1       3.2       2.7
NM       4.5       1.4       1.6
NV       4.7       1.2       1.1
NY       8.2       2.7       2.4
OH      10.3       2.5       2.6
OK       5.9       1.7       1.8
OR       5.3       3.1       2.8
PA      10.1       3.3       3.3
PR       6.0       1.3       1.2
PW       NaN       NaN       NaN
RI       2.9       1.3       1.2
SC       6.0       1.9       2.2
SD       4.2       1.8       2.0
TN       6.0       2.9       3.1
TX       7.7       3.2       3.4
UT       5.1       1.3       1.2
VA       7.0       2.4       2.3
VI       NaN       NaN       NaN
VT       3.8       1.9       1.9
WA       6.6       2.2       2.0
WI       5.8       2.4       2.2
WV       7.2       1.7       2.1
WY       2.8       NaN       NaN

In [50]:
max_deviation.__name__

'max_deviation'

In [51]:
max_deviation.__name__ = 'Max Deviation'

In [52]:
(
    college
    .groupby('STABBR')
    [['UGDS', 'SATVRMID', 'SATMTMID']]
    .agg([max_deviation, 'mean', 'std'])
    .round(1)
)

                UGDS                       SATVRMID                \
       Max Deviation    mean      std Max Deviation   mean    std
STABBR
AK               2.6  2493.2   4051.7           NaN  555.0    NaN
AL               5.8  2789.9   4657.9           1.6  508.5   54.5
AR               6.3  1644.1   3142.8           2.2  491.9   48.3
AS               NaN  1276.0      NaN           NaN    NaN    NaN
AZ               9.9  4130.5  14893.6           1.9  538.3   28.0
CA               6.1  3518.3   6708.6           2.7  549.1   78.6
CO               5.0  2324.9   4670.3           2.1  537.7   46.0
CT               5.6  1873.6   2871.3           3.0  517.9   79.8
DC               2.4  2645.3   3224.8           1.7  589.2   96.3
DE               3.5  2491.1   4503.4           1.2  486.7   85.5
FL               8.4  2492.9   7033.4           2.2  529.3   62.1
FM               NaN  2344.0      NaN           NaN    NaN    NaN
GA               5.4  2642.6   4422.1           2.5  509.5   64.9
GU               1.0  1894.0   1773.8           NaN    NaN    NaN
HI               3.8  2360.7   2999.3           0.9  497.5   34.8
IA               6.5  2293.9   5815.2           2.8  511.1   61.3
ID               4.5  2096.2   4864.7           2.2  510.0   22.7
IL               7.3  2189.1   4079.6           3.3  533.7   68.3
IN               9.1  2653.6   8278.0           3.7  517.4   50.4
KS               4.9  1861.3   3672.8           2.5  469.6   38.7
KY               5.2  1991.0   3783.4           2.1  502.2   48.6
LA               6.5  1660.2   3484.8           2.4  511.7   61.7
MA               6.1  2023.1   3267.4           2.0  555.9   95.6
MD               5.3  3003.1   5836.9           2.0  533.3   88.0
ME               4.0  1436.6   1808.4           2.4  512.2   61.5
MH               NaN  1078.0      NaN           NaN    NaN    NaN
MI               6.7  2643.0   5356.3           2.5  532.0   55.1
MN               7.8  2086.0   3579.8           2.2  557.2   67.1
MO               7.2  1557.1   3569.1           3.3  541.2   57.9
MP               NaN  1120.0      NaN           NaN    NaN    NaN
MS               4.0  2498.6   3847.7           1.6  500.6   48.6
MT               3.9  1470.7   3006.7           1.6  528.3   44.7
NC               4.9  2446.9   4212.3           2.7  502.0   77.7
ND               3.5  1460.1   2918.9           1.2  498.6   51.4
NE               5.0  1932.3   3579.2           1.5  508.5   48.4
NH               5.3  2060.5   4877.4           2.0  535.8   98.4
NJ               7.1  2353.3   4479.9           3.2  509.6   73.6
NM               4.5  2253.6   4565.8           1.4  506.6   62.7
NV               4.7  2274.3   6144.3           1.2  508.3   23.1
NY               8.2  2349.0   4421.4           2.7  542.8   71.7
OH              10.3  1576.7   4100.6           2.5  529.7   62.9
OK               5.9  1351.0   3279.9           1.7  505.5   75.2
OR               5.3  2182.6   4951.9           3.1  543.2   53.0
PA              10.1  1699.3   3793.4           3.3  511.5   64.6
PR               6.0  1598.8   2912.9           1.3  546.2   35.7
PW               NaN   602.0      NaN           NaN    NaN    NaN
RI               2.9  3305.6   4608.6           1.3  577.5  109.1
SC               6.0  2073.5   3778.5           1.9  497.2   59.4
SD               4.2  1358.1   2069.4           1.8  491.5   39.5
TN               6.0  1570.2   3279.2           2.9  510.6   80.9
TX               7.7  2998.5   7362.5           3.2  511.1   64.4
UT               5.1  3035.3   8055.7           1.3  561.2   51.4
VA               7.0  2694.9   6706.8           2.4  529.6   69.0
VI               NaN  1971.0      NaN           NaN  400.0    NaN
VT               3.8  1512.6   2193.6           1.9  527.5   82.2
WA               6.6  2271.2   4123.7           2.2  548.3   51.5
WI               5.8  2655.5   4615.5           2.4  516.9   65.5
WV               7.2  1758.1   5957.2           1.7  473.4   25.3
WY               2.8  2244.4   2744.7           NaN  535.0    NaN

            SATMTMID
       Max Deviation   mean    std
STABBR
AK               NaN  503.0    NaN
AL               1.8  504.3   58.9
AR               2.3  515.9   38.8
AS               NaN    NaN    NaN
AZ               1.4  536.7   39.7
CA               2.5  562.9   87.1
CO               2.3  540.2   62.1
CT               2.7  522.5   82.8
DC               1.6  588.3   92.2
DE               1.1  495.0   95.8
FL               2.4  521.8   65.1
FM               NaN    NaN    NaN
GA               3.0  503.5   72.7
GU               NaN    NaN    NaN
HI               1.0  513.8   42.1
IA               2.8  533.6   63.9
ID               1.7  504.3   25.4
IL               2.5  549.5   83.6
IN               3.3  526.0   61.1
KS               1.6  483.7   32.6
KY               2.1  510.0   52.7
LA               2.2  518.3   63.1
MA               2.0  566.1  103.9
MD               2.2  530.6   89.7
ME               2.4  522.2   62.7
MH               NaN    NaN    NaN
MI               2.5  555.2   62.6
MN               2.2  558.6   78.1
MO               3.3  550.0   63.9
MP               NaN    NaN    NaN
MS               1.7  518.0   58.8
MT               1.2  540.0   36.1
NC               3.1  502.8   78.5
ND               1.5  511.0   58.5
NE               1.6  519.0   54.8
NH               1.9  538.3   96.4
NJ               2.7  530.2   81.9
NM               1.6  529.6   57.1
NV               1.1  510.0   26.5
NY               2.4  557.3   78.4
OH               2.6  536.0   67.1
OK               1.8  516.8   64.7
OR               2.8  539.1   50.8
PA               3.3  518.2   70.6
PR               1.2  554.5   47.5
PW               NaN    NaN    NaN
RI               1.2  591.2  115.6
SC               2.2  500.4   60.7
SD               2.0  519.7   46.2
TN               3.1  511.8   79.0
TX               3.4  523.1   65.8
UT               1.2  561.2   56.6
VA               2.3  526.1   72.1
VI               NaN  390.0    NaN
VT               1.9  526.9   85.0
WA               2.0  551.2   52.7
WI               2.2  545.1   62.2
WV               2.1  481.7   24.1
WY               NaN  540.0    NaN

args 와 kwargs 를 사용한 집계 함수 사용자 정의

In [53]:
def pct_between_1_3k(s):
    return (
        s.between(1_000, 3_000)
        .mean()
        * 100
    )

In [56]:
(
    college
    .groupby(['STABBR', 'RELAFFIL'])
    ['UGDS']
    .agg(pct_between_1_3k)
    .round(1)
)

STABBR  RELAFFIL
AK      0           14.3
        1            0.0
AL      0           23.6
        1           33.3
AR      0           27.9
                    ...
WI      0           13.8
        1           36.0
WV      0           24.6
        1           37.5
WY      0           54.5
Name: UGDS, Length: 112, dtype: float64

In [57]:
def pct_between(s, low, high):
    return s.between(low, high).mean() * 100

In [58]:
(
    college
    .groupby(['STABBR', 'RELAFFIL'])
    ['UGDS']
    .agg(pct_between, 1_000, 10_000)
    .round(1)
)

STABBR  RELAFFIL
AK      0           42.9
        1            0.0
AL      0           45.8
        1           37.5
AR      0           39.7
                    ...
WI      0           31.0
        1           44.0
WV      0           29.2
        1           37.5
WY      0           72.7
Name: UGDS, Length: 112, dtype: float64

In [59]:
(
    college
    .groupby(['STABBR', 'RELAFFIL'])
    ['UGDS']
    .agg(pct_between, high=10_000, low=1_000)
    .round(1)
)

STABBR  RELAFFIL
AK      0           42.9
        1            0.0
AL      0           45.8
        1           37.5
AR      0           39.7
                    ...
WI      0           31.0
        1           44.0
WV      0           29.2
        1           37.5
WY      0           72.7
Name: UGDS, Length: 112, dtype: float64

In [60]:
def between_n_m(n, m):
    def wrapper(ser):
        return pct_between(ser, n, m)
    wrapper.__name__ = f'between_{n}_{m}'
    return wrapper

In [63]:
(
    college
    .groupby(['STABBR', 'RELAFFIL'])
    ['UGDS']
    .agg([between_n_m(1_000, 10_000), 'max', 'mean'])
    .round(1)
)

                 between_1000_10000      max    mean
STABBR RELAFFIL
AK     0                       42.9  12865.0  3508.9
       1                        0.0    275.0   123.3
AL     0                       45.8  29851.0  3248.8
       1                       37.5   3033.0   979.7
AR     0                       39.7  21405.0  1793.7
...                             ...      ...     ...
WI     0                       31.0  29302.0  2879.1
       1                       44.0   8212.0  1716.2
WV     0                       29.2  44924.0  1873.9
       1                       37.5   1375.0   716.4
WY     0                       72.7   9910.0  2244.4

[112 rows x 3 columns]

groupby 객체 검사

In [64]:
college = pd.read_csv('data/college.csv')

In [65]:
grouped = college.groupby(['STABBR', 'RELAFFIL'])

In [66]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [67]:
print([attr for attr in dir(grouped) if not attr.startswith('_')])

['CITY', 'CURROPER', 'DISTANCEONLY', 'GRAD_DEBT_MDN_SUPP', 'HBCU', 'INSTNM', 'MD_EARN_WNE_P10', 'MENONLY', 'PCTFLOAN', 'PCTPELL', 'PPTUG_EF', 'RELAFFIL', 'SATMTMID', 'SATVRMID', 'STABBR', 'UG25ABV', 'UGDS', 'UGDS_2MOR', 'UGDS_AIAN', 'UGDS_ASIAN', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_NHPI', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITE', 'WOMENONLY', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'ewm', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sample', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'value_counts', 'var']

In [68]:
grouped.ngroups

112

In [69]:
groups = list(grouped.groups)

In [71]:
groups

[('AK', 0),
 ('AK', 1),
 ('AL', 0),
 ('AL', 1),
 ('AR', 0),
 ('AR', 1),
 ('AS', 0),
 ('AZ', 0),
 ('AZ', 1),
 ('CA', 0),
 ('CA', 1),
 ('CO', 0),
 ('CO', 1),
 ('CT', 0),
 ('CT', 1),
 ('DC', 0),
 ('DC', 1),
 ('DE', 0),
 ('DE', 1),
 ('FL', 0),
 ('FL', 1),
 ('FM', 0),
 ('GA', 0),
 ('GA', 1),
 ('GU', 0),
 ('GU', 1),
 ('HI', 0),
 ('HI', 1),
 ('IA', 0),
 ('IA', 1),
 ('ID', 0),
 ('ID', 1),
 ('IL', 0),
 ('IL', 1),
 ('IN', 0),
 ('IN', 1),
 ('KS', 0),
 ('KS', 1),
 ('KY', 0),
 ('KY', 1),
 ('LA', 0),
 ('LA', 1),
 ('MA', 0),
 ('MA', 1),
 ('MD', 0),
 ('MD', 1),
 ('ME', 0),
 ('ME', 1),
 ('MH', 0),
 ('MI', 0),
 ('MI', 1),
 ('MN', 0),
 ('MN', 1),
 ('MO', 0),
 ('MO', 1),
 ('MP', 0),
 ('MS', 0),
 ('MS', 1),
 ('MT', 0),
 ('MT', 1),
 ('NC', 0),
 ('NC', 1),
 ('ND', 0),
 ('ND', 1),
 ('NE', 0),
 ('NE', 1),
 ('NH', 0),
 ('NH', 1),
 ('NJ', 0),
 ('NJ', 1),
 ('NM', 0),
 ('NM', 1),
 ('NV', 0),
 ('NV', 1),
 ('NY', 0),
 ('NY', 1),
 ('OH', 0),
 ('OH', 1),
 ('OK', 0),
 ('OK', 1),
 ('OR', 0),
 ('OR', 1),
 ('PA', 0),
 ('PA', 1),
 ('PR', 0),
 ('PR', 1),
 ('PW', 0),
 ('RI', 0),
 ('RI', 1),
 ('SC', 0),
 ('SC', 1),
 ('SD', 0),
 ('SD', 1),
 ('TN', 0),
 ('TN', 1),
 ('TX', 0),
 ('TX', 1),
 ('UT', 0),
 ('UT', 1),
 ('VA', 0),
 ('VA', 1),
 ('VI', 0),
 ('VI', 1),
 ('VT', 0),
 ('VT', 1),
 ('WA', 0),
 ('WA', 1),
 ('WI', 0),
 ('WI', 1),
 ('WV', 0),
 ('WV', 1),
 ('WY', 0)]

In [72]:
grouped.get_group(('FL', 1))

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
712,The Baptist College of Florida,Graceville,FL,0.0,0.0,0.0,1,545.0,465.0,0.0,...,0.0308,0.0000,0.0507,0.2291,1,0.5878,0.5602,0.3531,30800,20052
713,Barry University,Miami,FL,0.0,0.0,0.0,1,470.0,462.0,0.0,...,0.0164,0.0741,0.0841,0.1518,1,0.5045,0.6733,0.4361,44100,28250
714,Gooding Institute of Nurse Anesthesia,Panama City,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,PrivacySuppressed
715,Bethune-Cookman University,Daytona Beach,FL,1.0,0.0,0.0,1,405.0,395.0,0.0,...,0.0198,0.0205,0.0190,0.0523,1,0.7758,0.8867,0.0647,29400,36250
724,Johnson University Florida,Kissimmee,FL,0.0,0.0,0.0,1,480.0,470.0,0.0,...,0.0045,0.0045,0.0136,0.1636,1,0.6689,0.7384,0.2185,26300,20199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7486,Strayer University-Coral Springs Campus,Coral Springs,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,49200,36173.5
7487,Strayer University-Fort Lauderdale Campus,Fort Lauderdale,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7488,Strayer University-Miramar Campus,Miramar,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7489,Strayer University-Doral,Miami,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7490,Strayer University-Brickell,Miami,FL,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5

In [73]:
from IPython.display import display

In [75]:
# for name, group in grouped:
#     print(name)
#     display(group.head(3))

In [76]:
for name, group in grouped:
    print(name)
    print(group)
    break

('AK', 0)
                                      INSTNM       CITY STABBR  HBCU  MENONLY  \
60            University of Alaska Anchorage  Anchorage     AK   0.0      0.0
62            University of Alaska Fairbanks  Fairbanks     AK   0.0      0.0
63            University of Alaska Southeast     Juneau     AK   0.0      0.0
65    AVTEC-Alaska's Institute of Technology     Seward     AK   0.0      0.0
66                 Charter College-Anchorage  Anchorage     AK   0.0      0.0
67                     Alaska Career College  Anchorage     AK   0.0      0.0
5171                       Ilisagvik College     Barrow     AK   0.0      0.0

      WOMENONLY  RELAFFIL  SATVRMID  SATMTMID  DISTANCEONLY  ...  UGDS_2MOR  \
60          0.0         0       NaN       NaN           0.0  ...     0.0980
62          0.0         0       NaN       NaN           0.0  ...     0.0401
63          0.0         0       NaN       NaN           0.0  ...     0.0686
65          0.0         0       NaN       NaN           0.0  ...     0.0529
66          0.0         0       NaN       NaN           0.0  ...     0.0436
67          0.0         0       NaN       NaN           0.0  ...     0.0334
5171        0.0         0       NaN       NaN           0.0  ...     0.0000

      UGDS_NRA  UGDS_UNKN  PPTUG_EF  CURROPER  PCTPELL  PCTFLOAN  UG25ABV  \
60      0.0181     0.0457    0.4539         1   0.2385    0.2647   0.4386
62      0.0110     0.3060    0.3887         1   0.2263    0.2550   0.4519
63      0.0049     0.2241    0.5112         1   0.1769    0.1996   0.5550
65      0.0000     0.1395    0.6817         1   0.0737    0.0664   0.7127
66      0.0000     0.0393    0.0000         1   0.8307    0.7503   0.5472
67      0.0000     0.0104    0.0000         1   0.7078    0.7860   0.5612
5171    0.0183     0.0000    0.6239         1   0.1323    0.0000   0.6498

      MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
60              42500             19449.5
62              36200               19355
63              37400               16875
65              33500   PrivacySuppressed
66              39200               13875
67              28700                8994
5171            24900   PrivacySuppressed

[7 rows x 27 columns]

In [79]:
grouped.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7366,Montpelier Center - Closed July 2013,Montpelier,VT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,39600,18750
7367,New England Center,Brattleboro,VT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,39600,18750
7404,University of the Virgin Islands-Albert A. Sheen,St. Croix,VI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,31800,15150
7419,Computer Career Center-Las Cruces,Las Cruces,NM,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,21300,14250
7424,Rob Roy Academy - Woonsocket,Woonsocket,RI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,17400,7741

In [80]:
grouped.nth([1, -1])

                                                     INSTNM  \
STABBR RELAFFIL
AK     0                     University of Alaska Fairbanks
       0                                  Ilisagvik College
       1                          Alaska Pacific University
       1                           Alaska Christian College
AL     0                University of Alabama at Birmingham
...                                                     ...
WV     0         BridgeValley Community & Technical College
       1                          Appalachian Bible College
       1         West Virginia Business College-Nutter Fort
WY     0                            Central Wyoming College
       0                            CollegeAmerica-Cheyenne

                              CITY  HBCU  MENONLY  WOMENONLY  SATVRMID  \
STABBR RELAFFIL
AK     0                 Fairbanks   0.0      0.0        0.0       NaN
       0                    Barrow   0.0      0.0        0.0       NaN
       1                 Anchorage   0.0      0.0        0.0     555.0
       1                  Soldotna   0.0      0.0        0.0       NaN
AL     0                Birmingham   0.0      0.0        0.0     570.0
...                            ...   ...      ...        ...       ...
WV     0         South  Charleston   0.0      0.0        0.0       NaN
       1                Mount Hope   0.0      0.0        0.0     514.0
       1               Nutter Fort   NaN      NaN        NaN       NaN
WY     0                  Riverton   0.0      0.0        0.0       NaN
       0                  Cheyenne   0.0      0.0        0.0       NaN

                 SATMTMID  DISTANCEONLY     UGDS  UGDS_WHITE  ...  UGDS_2MOR  \
STABBR RELAFFIL                                               ...
AK     0              NaN           0.0   5536.0      0.4259  ...     0.0401
       0              NaN           0.0    109.0      0.1376  ...     0.0000
       1            503.0           0.0    275.0      0.5309  ...     0.0945
       1              NaN           0.0     68.0      0.0588  ...     0.0147
AL     0            565.0           0.0  11383.0      0.5922  ...     0.0368
...                   ...           ...      ...         ...  ...        ...
WV     0              NaN           0.0   1887.0      0.8967  ...     0.0000
       1            487.0           0.0    196.0      0.9643  ...     0.0000
       1              NaN           NaN      NaN         NaN  ...        NaN
WY     0              NaN           0.0   1099.0      0.7097  ...     0.0300
       0              NaN           0.0     60.0      0.6500  ...     0.0000

                 UGDS_NRA  UGDS_UNKN  PPTUG_EF  CURROPER  PCTPELL  PCTFLOAN  \
STABBR RELAFFIL
AK     0           0.0110     0.3060    0.3887         1   0.2263    0.2550
       0           0.0183     0.0000    0.6239         1   0.1323    0.0000
       1           0.0000     0.0873    0.3745         1   0.3152    0.5297
       1           0.0000     0.1324    0.0735         1   0.8868    0.6792
AL     0           0.0179     0.0100    0.2607         1   0.3460    0.5214
...                   ...        ...       ...       ...      ...       ...
WV     0           0.0000     0.0016    0.3890         1      NaN       NaN
       1           0.0051     0.0000    0.0612         1   0.4388    0.2770
       1              NaN        NaN       NaN         1      NaN       NaN
WY     0           0.0073     0.0173    0.4377         1   0.1700    0.0967
       0           0.0000     0.0833    0.0000         1   0.8519    0.8642

                 UG25ABV  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
STABBR RELAFFIL
AK     0          0.4519            36200               19355
       0          0.6498            24900   PrivacySuppressed
       1          0.4910            47000               23250
       1          0.2264              NaN   PrivacySuppressed
AL     0          0.2422            39700             21941.5
...                  ...              ...                 ...
WV     0             NaN              NaN              9429.5
       1          0.0899            28700                9300
       1             NaN            16700               19258
WY     0          0.3992            25200                8757
       0          0.7273            25600             27235.5

[213 rows x 25 columns]

소수 인종이 과반인 주를 필터링

In [81]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')

In [87]:
college

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
Bay Area Medical Academy - San Jose Satellite Location,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [98]:
grouped = college.groupby('STABBR')

In [99]:
grouped.ngroups

59

In [100]:
college['STABBR'].unique()

array(['AL', 'IL', 'AK', 'AZ', 'NM', 'AR', 'CA', 'MN', 'CO', 'CT', 'NY',
       'DE', 'DC', 'VA', 'FL', 'GA', 'HI', 'ID', 'IN', 'TN', 'MI', 'IA',
       'KS', 'MO', 'KY', 'LA', 'ME', 'MD', 'MA', 'MS', 'MT', 'NE', 'NV',
       'NH', 'NJ', 'NC', 'ND', 'OH', 'WV', 'OK', 'OR', 'PA', 'RI', 'SC',
       'SD', 'TX', 'UT', 'VT', 'WA', 'WI', 'WY', 'AS', 'GU', 'MP', 'PR',
       'FM', 'PW', 'VI', 'MH'], dtype=object)

In [101]:
def check_minority(df, threshold):
    minority_pct = 1 - df['UGDS_WHITE']
    total_minority = (df['UGDS'] * minority_pct).sum()
    total_ugds = df['UGDS'].sum()
    total_minority_pct = total_minority / total_ugds
    return total_minority_pct > threshold

In [93]:
(college['UGDS'] * (1 - college['UGDS_WHITE'])).sum()

7898501.594700001

In [94]:
college['UGDS'].sum()

16200904.0

In [96]:
((college['UGDS'] * (1 - college['UGDS_WHITE'])).sum()) / college['UGDS'].sum()

0.4875346211976814

In [102]:
college_filtered = grouped.filter(check_minority, threshold=.5)
college_filtered

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,4102.0,...,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,83.0,...,0.0241,0.0,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,25.0,...,0.0400,0.0,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,126.0,...,0.0000,0.0,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1.0,...,0.0000,0.0,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5
Vantage College,El Paso,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
Bay Area Medical Academy - San Jose Satellite Location,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [103]:
college.shape

(7535, 26)

In [104]:
college_filtered.shape

(3028, 26)

In [105]:
college_filtered['STABBR'].nunique()

20

In [106]:
college_filtered_20 = grouped.filter(check_minority, threshold=.2)

In [108]:
college_filtered_20.shape

(7461, 26)

In [109]:
college_filtered_20['STABBR'].nunique()

57

In [110]:
college_filtered_70 = grouped.filter(check_minority, threshold=.7)
college_filtered_70.shape

(957, 26)

In [111]:
college_filtered_70['STABBR'].nunique()

10

체중 감량 내기를 통한 변신

In [112]:
weight_loss = pd.read_csv('data/weight_loss.csv')

In [113]:
weight_loss.query('Month == "Jan"')

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [114]:
def percent_loss(s):
    return ((s - s.iloc[0]) / s.iloc[0]) * 100

In [115]:
(
    weight_loss
    .query('Name == "Bob" and Month == "Jan"')
    ['Weight']
    .pipe(percent_loss)
)

0    0.000000
2   -1.030928
4   -2.749141
6   -2.749141
Name: Weight, dtype: float64

In [116]:
(
    weight_loss
    .groupby(['Name', 'Month'])
    ['Weight']
    .transform(percent_loss)
)

0     0.000000
1     0.000000
2    -1.030928
3    -4.060914
4    -2.749141
5    -4.060914
6    -2.749141
7    -3.553299
8     0.000000
9     0.000000
10   -2.826855
11   -3.157895
12   -5.300353
13   -6.842105
14   -5.300353
15   -8.947368
16    0.000000
17    0.000000
18    1.119403
19    0.000000
20   -1.119403
21   -1.734104
22   -2.611940
23   -1.734104
24    0.000000
25    0.000000
26   -1.149425
27   -3.529412
28   -3.065134
29   -3.529412
30   -4.214559
31   -5.294118
Name: Weight, dtype: float64

In [117]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Name == "Bob" and Month in ["Jan", "Feb"]')
)

   Name Month    Week  Weight  percent_loss
0   Bob   Jan  Week 1     291           0.0
2   Bob   Jan  Week 2     288          -1.0
4   Bob   Jan  Week 3     283          -2.7
6   Bob   Jan  Week 4     283          -2.7
8   Bob   Feb  Week 1     283           0.0
10  Bob   Feb  Week 2     275          -2.8
12  Bob   Feb  Week 3     268          -5.3
14  Bob   Feb  Week 4     268          -5.3

In [118]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Week == "Week 4"')
)

   Name Month    Week  Weight  percent_loss
6   Bob   Jan  Week 4     283          -2.7
7   Amy   Jan  Week 4     190          -3.6
14  Bob   Feb  Week 4     268          -5.3
15  Amy   Feb  Week 4     173          -8.9
22  Bob   Mar  Week 4     261          -2.6
23  Amy   Mar  Week 4     170          -1.7
30  Bob   Apr  Week 4     250          -4.2
31  Amy   Apr  Week 4     161          -5.3

In [119]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Week == "Week 4"')
    .pivot(index='Month', columns='Name', values='percent_loss')
)

Name   Amy  Bob
Month
Apr   -5.3 -4.2
Feb   -8.9 -5.3
Jan   -3.6 -2.7
Mar   -1.7 -2.6

In [120]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Week == "Week 4"')
    .pivot(index='Month', columns='Name', values='percent_loss')
    .assign(winner=lambda df_: np.where(df_.Amy < df_.Bob, 'Amy', 'Bob'))
)

Name   Amy  Bob winner
Month
Apr   -5.3 -4.2    Amy
Feb   -8.9 -5.3    Amy
Jan   -3.6 -2.7    Amy
Mar   -1.7 -2.6    Bob

In [125]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Week == "Week 4"')
    .pivot(index='Month', columns='Name', values='percent_loss')
    # .assign(winner=lambda df_: np.where(df_.Amy < df_.Bob, 'Amy', 'Bob'))
    .style.highlight_min(axis=1)
)

In [126]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)))
    .query('Week == "Week 4"')
    .pivot(index='Month', columns='Name', values='percent_loss')
    .assign(winner=lambda df_: np.where(df_.Amy < df_.Bob, 'Amy', 'Bob'))
    .winner.value_counts()
)

Amy    3
Bob    1
Name: winner, dtype: int64

In [127]:
(
    weight_loss
    .assign(percent_loss=(
        weight_loss
        .groupby(['Name', 'Month'])
        ['Weight']
        .transform(percent_loss)
        .round(1)),
        Month=pd.Categorical(weight_loss.Month, categories=['Jan', 'Feb', 'Mar', 'Apr'], ordered=True)
    )
    .query('Week == "Week 4"')
    .pivot(index='Month', columns='Name', values='percent_loss')
    # .assign(winner=lambda df_: np.where(df_.Amy < df_.Bob, 'Amy', 'Bob'))
    # .winner.value_counts()
)

Name   Amy  Bob
Month
Jan   -3.6 -2.7
Feb   -8.9 -5.3
Mar   -1.7 -2.6
Apr   -5.3 -4.2

apply 를 사용해 주별 가중 평균 SAT 점수 계산

In [128]:
college = pd.read_csv('data/college.csv')

In [129]:
subset = ['UGDS', 'SATMTMID', 'SATVRMID']

In [130]:
college2 = college.dropna(subset=subset)

In [131]:
college.shape

(7535, 27)

In [132]:
college2.shape

(1184, 27)

In [143]:
college2.loc[:, ['UGDS', 'SATMTMID']]

         UGDS  SATMTMID
0      4206.0     420.0
1     11383.0     565.0
3      5451.0     590.0
4      4811.0     430.0
5     29851.0     565.0
...       ...       ...
6842   5736.0     505.0
6970   5030.0     515.0
7017  14976.0     505.0
7113    879.0     585.0
7137   1623.0     465.0

[1184 rows x 2 columns]

In [133]:
def weighted_math_average(df):
    weighted_math = df['UGDS'] * df['SATMTMID']
    return int(weighted_math.sum() / df['UGDS'].sum())

In [142]:
college2.groupby('STABBR').apply(weighted_math_average)

STABBR
AK    503
AL    536
AR    529
AZ    569
CA    564
CO    553
CT    545
DC    621
DE    569
FL    565
GA    540
HI    534
IA    577
ID    509
IL    594
IN    546
KS    491
KY    525
LA    549
MA    597
MD    572
ME    524
MI    586
MN    598
MO    576
MS    527
MT    551
NC    552
ND    546
NE    567
NH    561
NJ    554
NM    529
NV    516
NY    578
OH    569
OK    557
OR    540
PA    553
PR    571
RI    567
SC    549
SD    528
TN    544
TX    548
UT    577
VA    550
VI    390
VT    566
WA    555
WI    593
WV    500
WY    540
dtype: int64

In [144]:
(
    college2
    .groupby('STABBR')
    .agg(weighted_math_average)
)

KeyError: 'UGDS'

In [145]:
(
    college2
    .groupby('STABBR')
    ['SATMTMID']
    .agg(weighted_math_average)
)

KeyError: 'UGDS'

In [146]:
def weighted_average(df):
    weight_m = df['UGDS'] * df['SATMTMID']
    weight_v = df['UGDS'] * df['SATVRMID']
    wm_avg = weight_m.sum() / df['UGDS'].sum()
    wv_avg = weight_v.sum() / df['UGDS'].sum()
    data = {'w_math_avg': wm_avg,
            'w_verbal_avg': wv_avg,
            'math_avg': df['SATMTMID'].mean(),
            'verbal_avg': df['SATVRMID'].mean(),
            'count': len(df)}
    return pd.Series(data)

In [147]:
(
    college2
    .groupby('STABBR')
    .apply(weighted_average)
    .astype(int)
)

        w_math_avg  w_verbal_avg  math_avg  verbal_avg  count
STABBR
AK             503           555       503         555      1
AL             536           533       504         508     21
AR             529           504       515         491     16
AZ             569           557       536         538      6
CA             564           539       562         549     72
CO             553           547       540         537     14
CT             545           533       522         517     14
DC             621           623       588         589      6
DE             569           553       495         486      3
FL             565           565       521         529     38
GA             540           541       503         509     42
HI             534           513       513         497      4
IA             577           533       534         511     23
ID             509           510       504         510      7
IL             594           560       551         532     38
IN             546           531       525         517     42
KS             491           473       483         469     15
KY             525           516       510         502     23
LA             549           532       521         511     15
MA             597           578       566         555     47
MD             572           560       530         533     19
ME             524           521       522         512      9
MI             586           542       553         531     25
MN             598           574       558         557     25
MO             576           565       550         541     29
MS             527           517       518         500     11
MT             551           551       540         528      6
NC             552           539       502         502     48
ND             546           531       511         498      8
NE             567           545       527         508      8
NH             561           552       538         535      6
NJ             554           525       530         509     27
NM             529           516       529         506      5
NV             516           511       510         508      3
NY             578           554       557         542     87
OH             569           547       536         529     45
OK             557           543       516         505     14
OR             540           538       539         543     17
PA             553           538       518         511    102
PR             571           564       554         546      4
RI             567           557       591         577      4
SC             549           540       500         497     29
SD             528           483       519         491     10
TN             544           539       511         510     32
TX             548           527       524         511     62
UT             577           576       561         561      4
VA             550           549       526         529     39
VI             390           400       390         400      1
VT             566           564       526         527      8
WA             555           541       551         548     18
WI             593           556       545         516     14
WV             500           487       481         473     17
WY             540           535       540         535      1

In [148]:
(
    college
    .groupby('STABBR')
    .apply(weighted_average)
)

        w_math_avg  w_verbal_avg    math_avg  verbal_avg  count
STABBR
AK        5.548091      6.121651  503.000000  555.000000   10.0
AL      261.895658    260.550109  504.285714  508.476190   96.0
AR      301.054792    287.264872  515.937500  491.875000   86.0
AS        0.000000      0.000000         NaN         NaN    1.0
AZ       61.815821     60.511712  536.666667  538.333333  133.0
CA      165.611830    158.098830  562.902778  549.083333  773.0
CO      270.958708    267.975486  540.214286  537.714286  125.0
CT      254.065075    248.509769  522.500000  517.857143  102.0
DC      473.191221    474.415415  588.333333  589.166667   26.0
DE      280.666385    272.580393  495.000000  486.666667   19.0
FL      188.174353    188.337835  521.842105  529.289474  436.0
FM        0.000000      0.000000         NaN         NaN    1.0
GA      294.919153    295.931808  503.476190  509.452381  184.0
GU        0.000000      0.000000         NaN         NaN    3.0
HI      202.851545    194.993116  513.750000  497.500000   26.0
IA      248.228500    228.180780  533.583333  511.086957   92.0
ID      327.754264    328.831366  504.285714  510.000000   40.0
IL      180.543787    169.710373  549.512821  533.692308  300.0
IN      365.792758    355.807425  525.952381  517.380952  161.0
KS       51.886654     50.045378  483.733333  469.600000   99.0
KY      300.230166    295.074212  510.000000  502.217391  106.0
LA      297.180605    253.954087  518.333333  511.666667  121.0
MA      355.536958    344.218548  566.106383  555.936170  194.0
MD      204.507786    200.228046  530.631579  533.263158   99.0
ME      232.385992    230.645939  522.222222  512.222222   43.0
MH        0.000000      0.000000         NaN         NaN    1.0
MI      217.919038    193.633782  555.192308  531.960000  207.0
MN      197.762593    189.637689  558.600000  557.160000  154.0
MO      275.864368    246.626698  550.000000  541.206897  193.0
MP        0.000000      0.000000         NaN         NaN    1.0
MS      245.555990    241.050960  518.000000  500.636364   63.0
MT      367.615141    367.611627  540.000000  528.333333   32.0
NC      268.539162    262.507632  502.833333  502.000000  204.0
ND      408.063939    396.394394  511.000000  498.625000   29.0
NE      214.149033    203.911020  519.000000  508.500000   49.0
NH      181.447866    178.575698  538.333333  535.833333   41.0
NJ      251.529473    238.369317  530.222222  509.555556  165.0
NM      186.604463    182.182755  529.600000  506.600000   51.0
NV      202.763479    200.852680  510.000000  508.333333   46.0
NY      276.945087    265.428711  557.287356  542.770115  459.0
OH      286.325152    272.910650  536.000000  529.688889  352.0
OK      197.930823    192.722540  516.785714  505.500000  146.0
OR      260.423253    259.463424  539.058824  543.235294   93.0
PA      340.496140    331.588569  518.196078  511.539216  394.0
PR       56.199213     55.511045  554.500000  546.250000  148.0
PW        0.000000      0.000000         NaN         NaN    1.0
RI      224.216823    220.570384  591.250000  577.500000   24.0
SC      282.108437    277.335729  500.413793  497.172414  111.0
SD      379.203809    346.386953  519.700000  491.500000   31.0
TN      290.313760    287.716146  511.781250  510.593750  182.0
TX      227.752097    218.243537  523.126984  511.080645  472.0
UT      202.386750    201.912613  561.250000  561.250000   77.0
VA      317.480577    316.947779  526.051282  529.564103  185.0
VI      390.000000    400.000000  390.000000  400.000000    2.0
VT      389.967094    388.696848  526.875000  527.500000   27.0
WA      274.885878    267.880280  551.222222  548.333333  123.0
WI      153.803086    144.160115  545.071429  516.857143  112.0
WV      224.697582    218.843452  481.705882  473.411765   73.0
WY      216.761180    214.754132  540.000000  535.000000   11.0

In [149]:
from scipy.stats import gmean, hmean

In [150]:
def calculate_means(df):
    df_means = pd.DataFrame(index=['Arithmetic', 'Weighted', 'Geometric', 'Harmonic'])
    cols = ['SATMTMID', 'SATVRMID']
    for col in cols:
        arithmetic = df[col].mean()
        weighted = np.average(df[col], weights=df['UGDS'])
        geometric = gmean(df[col])
        harmonic = hmean(df[col])
        df_means[col] = [arithmetic, weighted, geometric, harmonic]

    df_means['count'] = len(df)
    return df_means.astype(int)

In [151]:
(
    college2
    .groupby('STABBR')
    .apply(calculate_means)
)

                   SATMTMID  SATVRMID  count
STABBR
AK     Arithmetic       503       555      1
       Weighted         503       555      1
       Geometric        503       555      1
       Harmonic         503       555      1
AL     Arithmetic       504       508     21
...                     ...       ...    ...
WV     Harmonic         480       472     17
WY     Arithmetic       540       535      1
       Weighted         540       535      1
       Geometric        540       534      1
       Harmonic         540       535      1

[212 rows x 3 columns]

연속 변수를 기준으로 그룹화

In [152]:
flights = pd.read_csv('data/flights.csv')

In [153]:
flights

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [154]:
bins = [-np.inf, 200, 500, 1000, 2000, np.inf]

In [155]:
cuts = pd.cut(flights['DIST'], bins=bins)

In [156]:
cuts

0         (500.0, 1000.0]
1        (1000.0, 2000.0]
2         (500.0, 1000.0]
3        (1000.0, 2000.0]
4        (1000.0, 2000.0]
               ...
58487    (1000.0, 2000.0]
58488      (200.0, 500.0]
58489      (200.0, 500.0]
58490     (500.0, 1000.0]
58491     (500.0, 1000.0]
Name: DIST, Length: 58492, dtype: category
Categories (5, interval[float64, right]): [(-inf, 200.0] < (200.0, 500.0] < (500.0, 1000.0] < (1000.0, 2000.0] < (2000.0, inf]]

In [157]:
cuts.value_counts()

(500.0, 1000.0]     20659
(200.0, 500.0]      15874
(1000.0, 2000.0]    14186
(2000.0, inf]        4054
(-inf, 200.0]        3719
Name: DIST, dtype: int64

In [161]:
(
    flights
    .groupby(cuts)
    ['AIRLINE']
    .value_counts(normalize=True)
    .round(3)
)

DIST              AIRLINE
(-inf, 200.0]     OO         0.326
                  EV         0.289
                  MQ         0.211
                  DL         0.086
                  AA         0.052
                  UA         0.027
                  WN         0.009
(200.0, 500.0]    WN         0.194
                  DL         0.189
                  OO         0.159
                  EV         0.156
                  MQ         0.100
                  AA         0.071
                  UA         0.062
                  VX         0.028
                  US         0.016
                  NK         0.012
                  B6         0.007
                  F9         0.005
                  AS         0.001
(500.0, 1000.0]   DL         0.206
                  AA         0.144
                  WN         0.138
                  UA         0.131
                  OO         0.106
                  EV         0.101
                  MQ         0.051
                  F9         0.038
                  NK         0.030
                  US         0.025
                  AS         0.023
                  VX         0.004
                  B6         0.003
(1000.0, 2000.0]  AA         0.264
                  UA         0.199
                  DL         0.165
                  WN         0.160
                  OO         0.046
                  NK         0.045
                  US         0.040
                  F9         0.031
                  AS         0.016
                  EV         0.016
                  VX         0.012
                  B6         0.003
                  MQ         0.003
(2000.0, inf]     UA         0.289
                  AA         0.212
                  DL         0.171
                  B6         0.080
                  VX         0.074
                  US         0.065
                  WN         0.046
                  HA         0.028
                  NK         0.019
                  AS         0.012
                  F9         0.004
Name: AIRLINE, dtype: float64

In [162]:
(
    flights
    .groupby(cuts)
    ['AIR_TIME']
    .quantile(q=[.25, .5, .75])
    .div(60)
    .round(2)
)

DIST
(-inf, 200.0]     0.25    0.43
                  0.50    0.50
                  0.75    0.57
(200.0, 500.0]    0.25    0.77
                  0.50    0.92
                  0.75    1.05
(500.0, 1000.0]   0.25    1.43
                  0.50    1.65
                  0.75    1.92
(1000.0, 2000.0]  0.25    2.50
                  0.50    2.93
                  0.75    3.40
(2000.0, inf]     0.25    4.30
                  0.50    4.70
                  0.75    5.03
Name: AIR_TIME, dtype: float64

In [163]:
labels = ['Under an Hour', '1 Hour', '1-2 Hours', '2-4 Hours', '4+ Hours']

In [167]:
cuts2 = pd.cut(flights['DIST'], bins=bins, labels=labels)
cuts2

0        1-2 Hours
1        2-4 Hours
2        1-2 Hours
3        2-4 Hours
4        2-4 Hours
           ...
58487    2-4 Hours
58488       1 Hour
58489       1 Hour
58490    1-2 Hours
58491    1-2 Hours
Name: DIST, Length: 58492, dtype: category
Categories (5, object): ['Under an Hour' < '1 Hour' < '1-2 Hours' < '2-4 Hours' < '4+ Hours']

In [168]:
(
    flights
    .groupby(cuts2)
    ['AIRLINE']
    .value_counts(normalize=True)
    .round(3)
    .unstack()
)

AIRLINE,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
DIST,,,,,,,,,,,,,,
Under an Hour,0.052,NaN,NaN,0.086,0.289,NaN,NaN,0.211,NaN,0.326,0.027,NaN,NaN,0.009
1 Hour,0.071,0.001,0.007,0.189,0.156,0.005,NaN,0.100,0.012,0.159,0.062,0.016,0.028,0.194
1-2 Hours,0.144,0.023,0.003,0.206,0.101,0.038,NaN,0.051,0.030,0.106,0.131,0.025,0.004,0.138
2-4 Hours,0.264,0.016,0.003,0.165,0.016,0.031,NaN,0.003,0.045,0.046,0.199,0.040,0.012,0.160
4+ Hours,0.212,0.012,0.080,0.171,NaN,0.004,0.028,NaN,0.019,NaN,0.289,0.065,0.074,0.046

도시 간 총 비행 횟수 계산

In [169]:
flights = pd.read_csv('data/flights.csv')

In [183]:
flights_ct = flights.groupby(['ORG_AIR', 'DEST_AIR']).size()
flights_ct

ORG_AIR  DEST_AIR
ATL      ABE          31
         ABQ          16
         ABY          19
         ACY           6
         AEX          40
                    ...
SFO      SNA         122
         STL          20
         SUN          10
         TUS          20
         XNA           2
Length: 1130, dtype: int64

In [172]:
flights_ct.loc[[('ATL', 'IAH'), ('IAH', 'ATL')]]

ORG_AIR  DEST_AIR
ATL      IAH         121
IAH      ATL         148
dtype: int64

In [173]:
f_part3 = (
    flights[['ORG_AIR', 'DEST_AIR']]
    .apply(lambda ser: ser.sort_values().reset_index(drop=True), axis='columns')
)

In [174]:
f_part3

         0    1
0      LAX  SLC
1      DEN  IAD
2      DFW  VPS
3      DCA  DFW
4      LAX  MCI
...    ...  ...
58487  DFW  SFO
58488  LAS  SFO
58489  SBA  SFO
58490  ATL  MSP
58491  BOI  SFO

[58492 rows x 2 columns]

In [175]:
rename_dict = {0: 'AIR1', 1: 'AIR2'}

In [187]:
(
    flights[['ORG_AIR', 'DEST_AIR']]
    .apply(lambda ser: ser.sort_values().reset_index(drop=True), axis='columns')
    .rename(columns=rename_dict)
    .groupby(['AIR1', 'AIR2'])
    .size()
)

AIR1  AIR2
ABE   ATL      31
      ORD      24
ABI   DFW      74
ABQ   ATL      16
      DEN      46
             ...
SFO   SNA     122
      STL      20
      SUN      10
      TUS      20
      XNA       2
Length: 1085, dtype: int64

In [181]:
(
    flights[['ORG_AIR', 'DEST_AIR']]
    .apply(lambda ser: ser.sort_values().reset_index(drop=True), axis='columns')
    .rename(columns=rename_dict)
    .groupby(['AIR1', 'AIR2'])
    .size()
    .loc[('ATL', 'IAH')]
)

269

In [182]:
(
    flights[['ORG_AIR', 'DEST_AIR']]
    .apply(lambda ser: ser.sort_values().reset_index(drop=True), axis='columns')
    .rename(columns=rename_dict)
    .groupby(['AIR1', 'AIR2'])
    .size()
    .loc[('IAH', 'ATL')]
)

KeyError: ('IAH', 'ATL')

In [188]:
data_sorted = np.sort(flights[['ORG_AIR', 'DEST_AIR']])
data_sorted[:10]

array([['LAX', 'SLC'],
       ['DEN', 'IAD'],
       ['DFW', 'VPS'],
       ['DCA', 'DFW'],
       ['LAX', 'MCI'],
       ['IAH', 'SAN'],
       ['DFW', 'MSY'],
       ['PHX', 'SFO'],
       ['ORD', 'STL'],
       ['IAH', 'SJC']], dtype=object)

In [189]:
flights_sort2 = pd.DataFrame(data_sorted, columns=['AIR1', 'AIR2'])

In [191]:
flights_sort2.equals(f_part3.rename(columns={0: 'AIR1', 1: 'AIR2'}))

True

In [192]:
%%timeit
flights_sort = (
    flights[['ORG_AIR', 'DEST_AIR']]
    .apply(lambda ser: ser.sort_values().reset_index(drop=True), axis='columns')
)

3.87 s ± 42.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [193]:
%%timeit
data_sorted = np.sort(flights[['ORG_AIR', 'DEST_AIR']])
flights_sort2 = pd.DataFrame(data_sorted, columns=['AIR1', 'AIR2'])

3.86 ms ± 216 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

가장 긴 연속 정시 비행 찾기

In [194]:
s = pd.Series([0, 1, 1, 0, 1, 1, 1, 0])

In [195]:
s

0    0
1    1
2    1
3    0
4    1
5    1
6    1
7    0
dtype: int64

In [203]:
s1 = s.cumsum()
s1

0    0
1    1
2    2
3    2
4    3
5    4
6    5
7    5
dtype: int64

In [199]:
s.mul(s1)

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [200]:
s.mul(s1).diff()

0    NaN
1    1.0
2    1.0
3   -2.0
4    3.0
5    1.0
6    1.0
7   -5.0
dtype: float64

In [201]:
(
    s.mul(s.cumsum())
    .diff()
    .where(lambda x: x < 0)
)

0    NaN
1    NaN
2    NaN
3   -2.0
4    NaN
5    NaN
6    NaN
7   -5.0
dtype: float64

In [202]:
(
    s.mul(s.cumsum())
    .diff()
    .where(lambda x: x < 0)
    .ffill()
)

0    NaN
1    NaN
2    NaN
3   -2.0
4   -2.0
5   -2.0
6   -2.0
7   -5.0
dtype: float64

In [204]:
(
    s.mul(s.cumsum())
    .diff()
    .where(lambda x: x < 0)
    .ffill()
    .add(s.cumsum(), fill_value=0)
)

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [205]:
flights = pd.read_csv('data/flights.csv')

In [206]:
(
    flights
    .assign(ON_TIME=flights['ARR_DELAY'].lt(15).astype(int))
    [['AIRLINE', 'ORG_AIR', 'ON_TIME']]
)

      AIRLINE ORG_AIR  ON_TIME
0          WN     LAX        0
1          UA     DEN        1
2          MQ     DFW        0
3          AA     DFW        1
4          WN     LAX        0
...       ...     ...      ...
58487      AA     SFO        1
58488      F9     LAS        1
58489      OO     SFO        1
58490      WN     MSP        0
58491      OO     SFO        1

[58492 rows x 3 columns]

In [207]:
def max_streak(s):
    s1 = s.cumsum()
    return (
        s.mul(s1)
        .diff()
        .where(lambda x: x < 0)
        .ffill()
        .add(s1, fill_value=0)
        .max()
    )

In [210]:
(
    flights
    .assign(ON_TIME=flights['ARR_DELAY'].lt(15).astype(int))
    .sort_values(['MONTH', 'DAY', 'SCHED_DEP'])
    .groupby(['AIRLINE', 'ORG_AIR'])
    ['ON_TIME']
    .agg(['mean', 'size', max_streak])
    .round(2)
)

                 mean  size  max_streak
AIRLINE ORG_AIR
AA      ATL      0.82   233        15.0
        DEN      0.74   219        17.0
        DFW      0.78  4006        64.0
        IAH      0.80   196        24.0
        LAS      0.79   374        29.0
...               ...   ...         ...
WN      LAS      0.77  2031        39.0
        LAX      0.70  1135        23.0
        MSP      0.84   237        32.0
        PHX      0.77  1724        33.0
        SFO      0.76   445        17.0

[114 rows x 3 columns]