In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
plt.style.use("seaborn-v0_8")

In [2]:
class FinancialInstrument():
    pass

In [3]:
stock = FinancialInstrument()

In [4]:
stock

In [5]:
class FinancialInstrument():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end

In [6]:
stock = FinancialInstrument("AAPL", "2015-01-01", "2019-12-31")

In [7]:
stock.ticker

'AAPL'

In [8]:
stock.end

'2019-12-31'

In [9]:
stock.start

'2015-01-01'

In [12]:
yf.download("AAPL", "2015-01-01", "2019-12-31").Close.to_frame()

[*********************100%***********************]  1 of 1 completed

                Close
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [13]:
raw = yf.download("AAPL", "2015-01-01", "2019-12-31").Close.to_frame()

[*********************100%***********************]  1 of 1 completed

In [14]:
raw.rename(columns={"Close": "price"}, inplace=True)

In [15]:
raw

                price
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [37]:
class FinancialInstrument():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end
        self.get_data()
    
    def get_data(self):
        raw = yf.download(self.ticker, self.start, self.end).Close.to_frame()
        raw.rename(columns={"Close": "price"}, inplace=True)
        self.data = raw

In [38]:
stock = FinancialInstrument("AAPL", "2015-01-01", "2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [39]:
stock.ticker

'AAPL'

In [35]:
stock.get_data()

[*********************100%***********************]  1 of 1 completed

In [40]:
stock.data

                price
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [41]:
class FinancialInstrument():
    def __init__(self, ticker, start, end):
        self.ticker = ticker
        self.start = start
        self.end = end
        self.get_data()
    
    def get_data(self):
        raw = yf.download(self.ticker, self.start, self.end).Close.to_frame()
        raw.rename(columns={"Close": "price"}, inplace=True)
        self.data = raw
    
    def log_returns(self):
        self.data["log_returns"] = np.log(self.data.price / self.data.price.shift(1))

In [42]:
stock = FinancialInstrument("AAPL", "2015-01-01", "2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [43]:
stock.data

                price
Date
2015-01-02  27.332500
2015-01-05  26.562500
2015-01-06  26.565001
2015-01-07  26.937500
2015-01-08  27.972500
...               ...
2019-12-23  71.000000
2019-12-24  71.067497
2019-12-26  72.477501
2019-12-27  72.449997
2019-12-30  72.879997

[1257 rows x 1 columns]

In [44]:
stock.log_returns()